*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100vh;
    overflow: hidden;
    background-color: #CECCCE;
}

.main-sect{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-top{
height: 60%;
background-color: darkgoldenrod;
}
.main-bottom{
    height: 40%;
    background-color: darkred;
}
.side{
  padding: 20px;
    display: flex;
    flex-direction: column;
}

